<div class="row section-container">
    <div class="col-xs-12">
      <div class="col-xs-12 section-box">
        <div class="section-box-header">
          <h2 class="text-uppercase"><i class="fa fa-database"></i> {{'label.latest10payments' | i18n}} </h2>
        </div>
        <div class="col-xs-12 section-box-body table-responsive">
          <table class="table table-hover">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead class="table-bg">
            <tr>
              <th></th>
              <th data-ng-bind-html="'label.payfrom' | i18n"></th>
              <th data-ng-bind-html="'label.payto' | i18n"></th>
              <th class="icon-link"><span ng-click="orderByField='AMOUNT'; reverseSort = !reverseSort" data-ng-bind-html="'label.amount' | i18n"></span><span ng-show="orderByField == 'AMOUNT'"><i ng-show="!reverseSort" class="fa fa-arrow-up"></i><i ng-show="reverseSort" class="fa fa-arrow-down"></i></span></th>
              <th data-ng-bind-html="'label.date' | i18n"></th>
              <th class="icon-link"><span ng-click="orderByField='POTYPE'; reverseSort = !reverseSort" data-ng-bind-html="'label.typeofpayment' | i18n"></span><span ng-show="orderByField == 'POTYPE'"><i ng-show="!reverseSort" class="fa fa-arrow-up"></i><i ng-show="reverseSort" class="fa fa-arrow-down"></i></span></th>
              <th><span data-ng-bind-html="'label.customer' | i18n"></span> / <span data-ng-bind-html="'label.expenseitem' | i18n"></span></th>
              <th data-ng-bind-html="'label.comment' | i18n"></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rel in paymentManagerBO | orderBy:orderByField:reverseSort">
              <td class="f20 part1"></td>
              <td data-ng-bind="rel.PAYFROM"></td>
              <td data-ng-bind="rel.PAYTO"></td>
              <td data-ng-bind="rel.AMOUNT | aswaCurrency"></td>
              <td data-ng-bind="rel.DATE | aswaDate">Active</td>
              <td data-ng-bind="refData.referencesDataMap.POTYPE[rel.POTYPE]"></td>
              <td><span data-ng-bind="rel.CUSTOMERID" data-ng-if="rel.CUSTOMERID"></span> <span data-ng-bind="rel.EXPITEM" data-ng-if="rel.EXPITEM"></span></td>
              <td><i class="fa fa-eye icon-link fa-lg" tooltip="{{rel.COMMENT}}" tooltip-placement="left"></i></td>
            </tr>
            </tbody>
          </table>
          <div class="loadRunner_modules" ng-show="spinnerShow_Payment">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>