
<div class="row pageheader">
  <div class="col-xs-11">
    <h1><span ng-bind ="'paymentmanager.pageheader' | i18n"></span></h1>
  </div>
  <div class="col-xs-1">
    <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="refresh();" tooltip="{{'tooltip.refresh' | i18n}}">
      <span class="fa fa-refresh fa-spin"></span>
    </button>
  </div>
  <div class="col-xs-12">
    <span class="bottomliner"></span>
  </div>
</div>
<div class="row section-container">
  <div class="col-xs-12 col-md-6">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'label.paidpo' | i18n}} </h2>
      </div>
      <div class="col-xs-12 section-box-body-small table-responsive text-right">
        <span class="customerview-total txt-info" data-ng-bind="(PRTOTALAMOUNT | aswaCurrency) || '&mdash;'"></span>
    </div>
    </div>
  </div>
  <div class="col-xs-12 m-t-m hidden-lg hidden-md"></div>
  <div class="col-xs-12 col-md-6">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'label.paidopexp' | i18n}} </h2>
      </div>
      <div class="col-xs-12 section-box-body-small table-responsive text-right">
        <span class="customerview-total txt-info" data-ng-bind="(OPEXPTOTALAMOUNT | aswaCurrency) || '&mdash;'"></span>
    </div>
    </div>
  </div>
</div>

<div class="col-xs-12 section-container">
  <form name="frm">
    <div class="row section-box search-box" style="padding-top:15px">
      <div class="col-lg-2">
          <div class="form-group">
            <label data-ng-bind="'label.fromdate' | i18n"></label>
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="insurance.insuranceBO.START_DATE" is-open="open.fromdate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true" >
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'fromdate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
      </div>
      <div class="col-lg-2">
          <div class="form-group">
            <label data-ng-bind="'label.todate' | i18n"></label>
            <div class="input-group">
                <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="insurance.insuranceBO.START_DATE" is-open="open.todate" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true">
                <span class="input-group-btn">
                    <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'todate')"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
          </div>
      </div> 
      <div class="col-lg-2">
        <div class="form-group">
          <label ng-bind="'label.whopaid' | i18n" class="text-uppercase"></label>
          <select tabindex="7" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="dataBO.CUSTOMERID" placeholder="{{'placeholder.selectuser' | i18n}}">
            <option></option>
            <option data-ng-repeat="item in reference.USER" value="{{item.code}}">{{item.name}}</option>
          </select>
        </div>    
      </div>
      <div class="col-lg-2">
          <div class="form-group">
            <label ng-bind="'label.whomepaid' | i18n" class="text-uppercase"></label>
            <select tabindex="7" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="dataBO.CUSTOMERID" placeholder="{{'placeholder.selectuser' | i18n}}">
              <option></option>
              <option data-ng-repeat="item in reference.USER" value="{{item.code}}">{{item.name}}</option>
            </select>
          </div>    
        </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label ng-bind="'label.customer' | i18n" class="text-uppercase"></label>
          <select ng-change="getQuotes('main');" tabindex="7" class="form-control" ui-select2="common.select2ClearWithSearch" ng-model="dataBO.CUSTOMERID" placeholder="{{'placeholder.selectcustomer' | i18n}}">
            <option></option>
            <option data-ng-repeat="item in reference.CUSTOMER" value="{{item.code}}">{{item.name}}</option>
          </select>
        </div>    
      </div>
    </div>
  </form>
</div>
<div class="row"></div>
<div class="row section-container">
  <div class="col-xs-12">

    <div class="col-xs-12 section-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-box-header">
           <h2 class="text-uppercase"><i class="fa fa-money"></i> {{'label.payment.transactions' | i18n}} </h2>
          </div>
        </div>
        <div class="col-xs-12 section-box-body table-responsive">
          <table class="table table-hover">
              <colgroup>
                <col class="auto-cell-size p-r-20">
              </colgroup>
              <thead class="table-bg">
              <tr>
                <th></th>
                <th data-ng-bind-html="'label.payfrom' | i18n"></th>
                <th data-ng-bind-html="'label.payto' | i18n"></th>
                <th data-ng-bind-html="'label.date' | i18n"></th>
                <th data-ng-bind-html="'label.amount' | i18n"></th>
                <th data-ng-bind-html="'label.typeofpayment' | i18n"></th>
                <th><span data-ng-bind-html="'label.customerid' | i18n"></span> / <span data-ng-bind-html="'label.expenseitem' | i18n"></span></th>
                <!-- <th data-ng-bind-html="'label.modifiedby' | i18n"></th>
                <th data-ng-bind-html="'label.modifieddate' | i18n"></th>
                <th data-ng-bind-html="'label.createddate' | i18n"></th>
                <th data-ng-bind-html="'label.createdby' | i18n"></th> -->
                <th data-ng-bind-html="'label.actions' | i18n"></th>
                
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat ="rel in paymentManagerBO" class="text-uppercase">
                <td class="f20 part1"></td>
                <td data-ng-bind="rel.PAYFROM"></td>
                <td data-ng-bind="rel.PAYTO"></td>
                <td data-ng-bind="rel.DATE | aswaDate"></td>
                <td data-ng-bind="rel.AMOUNT | aswaCurrency"></td>
                <td data-ng-bind="rel.POTYPE | reverseCode : reference.POTYPE"></td>
                <td><span data-ng-bind="rel.CUSTOMERID | reverseCode : reference.CUSTOMER"></span> <span data-ng-bind="rel.EXPITEM"></span></td>
                <!-- <td data-ng-bind="rel.MODIFIEDBY"></td>
                <td data-ng-bind="rel.MODIFIEDDATE | aswaDate"></td>
                <td data-ng-bind="rel.MODIFIEDDATE | aswaDate"></td>
                <td data-ng-bind="rel.CREATEDBY"></td> -->
                <td class="f20 ng-binding action comment-content"> 
                  <i class="action-icon-md-primary fa fa-edit icon-link"  tooltip="{{'tooltip.edit'|i18n}}" ng-click="editPay(rel)"></i>
                  <i class="action-icon-md-primary fa fa-trash icon-link" tooltip="{{'tooltip.trash'|i18n}}" ng-click="showInfoBox('Info', 'generalinfoone', 'sm')"></i>
                </td>
              </tr>
              <tr data-ng-if="paymentManagerBO == null">
                <td colspan="7" class="text-center error-orange-text"><i class="fa fa-frown-o"></i> <span data-ng-bind = "'label.errorcontent' | i18n"></span></td>
              </tr>
              </tbody>
              <tfoot>
                  <tr><td colspan="8">
                    <div class="row">
                      <pagination total-items="TOTALITEMS" ng-model="pagination_payment.currentPage"  num-pages="numPages" max-size="pagination_payment.maxSize" class="pagination-sm pull-right" boundary-links="true" rotate="false" ng-change="pageChanged_payment()" items-per-page="pagination_payment.limit" first-text="<<" last-text=">>" next-text=">" previous-text="<"></pagination>
                      <ul class="pagination-sm pagination pull-right">
                        <li class="ng-scope disabled"><a href="" ng-click="selectPage(1, $event)" class="ng-binding">Page</a></li>
                        <li class="ng-scope disabled"><span class="ng-binding">{{pagination_payment.currentPage}} / {{numPages}}</span></li>
                      </ul>
                    </div>
                  </td></tr>
                </tfoot>
            </table>
        </div>
        <div class="menu pmd-floating-action" role="navigation" data-ng-if="showAddBtn"> 
            <a href="javascript:void(0);" ng-click="newPay();" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="{{'btn.addnew' | i18n}}"> 
              <span class="pmd-floating-hidden">{{'btn.addnew' | i18n}}</span> 
              <i class="fa fa-plus"></i> 
           </a> 
            <a href="javascript:void(0);" class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Select Action"> 
              <span class="pmd-floating-hidden">M</span>
              <i class="fa fa-th pmd-sm"></i> 
            </a> 
          </div>
      </div>
    </div>

</div>
