
<div class="row pageheader">
  <div class="col-xs-11">
    <h1><span ng-bind ="'customermanager.pageheader' | i18n"></span></h1>
  </div>
  <div class="col-xs-1">
    <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="refresh();" tooltip="{{'tooltip.refresh' | i18n}}">
      <span class="fa fa-refresh fa-spin"></span>
    </button>
  </div>
  <div class="col-xs-12">
    <span class="bottomliner"></span>
  </div>
</div>

<div class="row section-container">
  <div class="col-xs-12">

    <div class="col-xs-12 section-box">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-box-header">
           <h2 class="text-uppercase"><i class="fa fa-users"></i> {{'customermanager.customers' | i18n}} </h2>
          </div>
        </div>
        <div class="col-xs-12 section-box-body table-responsive">
          <table class="table table-hover">
              <colgroup>
                <col class="auto-cell-size p-r-20">
              </colgroup>
              <thead class="table-bg">
              <tr>
                <th></th>
                <th data-ng-bind-html="'label.customerid' | i18n"></th>
                <th data-ng-bind-html="'label.customertype' | i18n"></th>
                <th data-ng-bind-html="'label.fullname' | i18n"></th>
                <!-- <th data-ng-bind-html="'label.mobile' | i18n"></th>
                <th data-ng-bind-html="'label.email' | i18n"></th> -->
                <th data-ng-bind-html="'label.modifieddate' | i18n"></th>
                <th data-ng-bind-html="'label.modifiedby' | i18n"></th>
                <th data-ng-bind-html="'label.createddate' | i18n"></th>
                <th data-ng-bind-html="'label.createdby' | i18n"></th>
                <th data-ng-bind-html="'label.status' | i18n"></th>
                <th data-ng-bind-html="'label.actions' | i18n"></th>
                
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat ="rel in customerManagerBO">
                <td class="f20 part1"></td>
                <td data-ng-bind="rel.CUSTOMERID"></td>
                <td data-ng-bind="referenceData.referencesDataMap.CUSTOMERTYPE[rel.TYPE]"></td>
                <td data-ng-bind="rel.FULLNAME" class="text-uppercase"></td>
                <!-- <td data-ng-bind="rel.MOBILE"></td>
                <td data-ng-bind="rel.EMAIL"></td> -->
                <td data-ng-bind="rel.MODIFIEDDATE | aswaDate" class="text-uppercase"></td>
                <td data-ng-bind="rel.MODIFIEDBY" class="text-uppercase"></td>
                <td data-ng-bind="rel.CREATEDDATE | aswaDate" class="text-uppercase"></td>
                <td data-ng-bind="rel.CREATEDBY" class="text-uppercase"></td>
                <td data-ng-bind="referenceData.referencesDataMap.CUSTOMERSTATUS[rel.STATUS]" class="text-uppercase status-txt-{{rel.STATUS}}"></td>
                <td class="f20 ng-binding action comment-content">
                  <i class="action-icon-md-primary fa fa-edit icon-link"  ng-click="editCustomer(rel)" tooltip="{{'tooltip.editcustomer'|i18n}}"></i>
                  <i permission="['JRD_ADMIN']" class="action-icon-md-primary fa fa-trash icon-link" ng-click="showInfoBox('Info', 'generalinfoone', 'sm')" tooltip="{{'tooltip.trashcustomer'|i18n}}"></i>
                  <a data-ng-if="showView(rel.STATUS)" ng-href="#/customer/customerview/{{rel.CUSTOMERID}}"><i class="action-icon-md-primary fa fa-eye icon-link" tooltip="{{'tooltip.viewcustomer'|i18n}}"></i></a>
                </td>
              </tr>
              <tr ng-if="customerManagerBO == null">
                <td colspan="10" class="text-center error-orange-text"><i class="fa fa-frown-o"></i> <span data-ng-bind = "'label.errorcontent' | i18n"></span></td>
              </tr>
              </tbody>
            </table>
        </div>

        <div class="menu pmd-floating-action" role="navigation"> 
          <a href="javascript:void(0);" ng-click="addCustomer('sm')" class="pmd-floating-action-btn btn btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default" data-title="{{'btn.addnew' | i18n}}"> 
            <span class="pmd-floating-hidden">{{'btn.addnew' | i18n}}</span> 
            <i class="fa fa-plus"></i> 
         </a> 
          <a href="javascript:void(0);" class="pmd-floating-action-btn btn pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-primary" data-title="Select Action"> 
            <span class="pmd-floating-hidden">M</span>
            <i class="fa fa-th pmd-sm"></i> 
          </a> 
        </div>
      </div>
    </div>
    <div class="row">
      <pagination total-items="TOTALITEMS" ng-model="pagination_payment.currentPage"  num-pages="numPages" max-size="pagination_payment.maxSize" class="pagination-sm pull-right" boundary-links="true" rotate="false" ng-change="pageChanged_payment()" items-per-page="pagination_payment.limit" first-text="<<" last-text=">>" next-text=">" previous-text="<"></pagination>
      <ul class="pagination-sm pagination pull-right">
        <li class="ng-scope disabled"><a href="" ng-click="selectPage(1, $event)" class="ng-binding">Page</a></li>
        <li class="ng-scope disabled"><span class="ng-binding">{{pagination_payment.currentPage}} / {{numPages}}</span></li>
      </ul>
    </div>

</div>
