
<div class="row pageheader">
  <div class="col-xs-11">
    <h1><span ng-bind ="'customermanager.pageheader' | i18n"></span></h1>
  </div>
  <div class="col-xs-1">
    <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="refresh();" tooltip="{{'tooltip.refresh' | i18n}}">
      <span class="fa fa-refresh fa-spin"></span>
    </button>
  </div>
  <div class="col-xs-12">
    <span class="bottomliner"></span>
  </div>
</div>

<div class="row section-container">
  <div class="col-xs-8">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.basicdetails' | i18n}} </h2>
       </div>
       <div class="row section-box-body">
          <div class="col-sm-6 col-xs-12x p-t-s text-uppercase">
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.customerid' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.CUSTOMERID"></label>
              <i ng-class="{'fa-lock green-lock': softLock && !hardLock, 'fa-lock red-lock': hardLock}" class="fa fa-lg"></i>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.customertype' | i18n"></label> : 
              <label data-ng-bind="referenceData.referencesDataMap.CUSTOMERTYPE[customerManagerBO.TYPE]"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.fullname' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.FULLNAME"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.mobile' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.MOBILE"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.email' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.EMAIL"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.createddate' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.CREATEDDATE | aswaDate"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.createdby' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.CREATEDBY"></label>
            </div>
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.modifieddate' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.MODIFIEDDATE | aswaDate"></label>
            </div>
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.modifiedby' | i18n"></label> : 
              <label data-ng-bind="customerManagerBO.MODIFIEDBY"></label>
            </div>
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.estimatestatus' | i18n"></label> : 
              <label data-ng-bind="estimateStatus(customerManagerBO.ESTIMATESTATUS)"></label>
            </div> 
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.quoteapproved' | i18n"></label> : 
              <label data-ng-bind="quoteStatus(customerManagerBO.QUOTEAPPROVED)"></label>
            </div>
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.status' | i18n"></label> :
              <label class="status-txt-{{customerManagerBO.STATUS}}" data-ng-bind="referenceData.referencesDataMap.CUSTOMERSTATUS[customerManagerBO.STATUS]"></label>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12x p-t-s text-uppercase">
            <div class="">
              <label class="label-width text-strong" data-ng-bind="'label.address' | i18n"></label> : <BR>
              <span data-ng-bind-html="customerManagerBO.ADDRESS | formatString"></span>
            </div> 
            <div class="p-t-m">
              <label class="label-width text-strong" data-ng-bind="'label.comment' | i18n"></label> : <BR>
              <span data-ng-bind-html="customerManagerBO.COMMENT | formatString"></span>
            </div> 
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'label.projectcost' | i18n}} </h2>
      </div>
      <div class="col-xs-12 section-box-body-small table-responsive text-right">
          <span class="customerview-total txt-info" data-ng-bind="(PROJECTCOST | aswaCurrency) || '&mdash;'"></span>
      </div>
    </div>
    <div class="row"></div>
    <div class="col-xs-12 section-box ">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'label.paidsofar' | i18n}} </h2>
      </div>
      <div class="col-xs-12 section-box-body-small table-responsive text-right">
        <span class="customerview-total txt-success" data-ng-bind="(PAIDAMOUNT | aswaCurrency) || '&mdash;'"></span>
      </div>
    </div>
    <div class="col-xs-12 section-box ">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'label.balance' | i18n}} </h2>
      </div>
      <div class="col-xs-12 section-box-body-small table-responsive text-right">
        <span class="customerview-total txt-warning" data-ng-bind="(BALANCEAMOUNT) || '&mdash;'"></span>
      </div>
    </div>
  </div>
  <!-- <div class="col-xs-4">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.basicdetails' | i18n}} </h2>
       </div>
       <div class="col-xs-12 section-box-body table-responsive">
        <div id="container">Placeholder for chart</div>
      </div>
    </div>
  </div> -->
</div>

<div class="row section-container">
  <div class="col-xs-12">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.paymentdetails' | i18n}} <i class="pull-right icon-link fa fa-plus-circle action-icon" ng-click="customerPay('lg')" title ="Add New User"></i></h2>
       </div>
       <div class="col-xs-12 section-box-body table-responsive" ng-include src = "'customermanager/view/customer-pay-view.html'">
         
      </div>
    </div>
  </div>
</div>

<div class="row section-container">
  <div class="col-xs-12">
    <div class="col-xs-12 section-box">
      <div class="section-box-header">
        <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.expensedetails' | i18n}} </h2>
       </div>
       <div class="col-xs-12 section-box-body m-b-l">
         <div class="col-lg-6">
           <h2 class="text-uppercase"><i class="fa fa-arrows-v"></i> {{'label.materialexpenses' | i18n}}</h2>
           <div class="expense-total text-right">
              <span class="customerview-total txt-success" data-ng-bind="(POAMOUNT | aswaCurrency) || '&mdash;'"></span>
           </div>
         </div>
         <div class="col-lg-6">
            <h2 class="text-uppercase"><i class="fa fa-arrows-v"></i> {{'label.labourexpenses' | i18n}}</h2>
            <div class="expense-total text-right">
                <span class="customerview-total txt-success" data-ng-bind="(LBRAMOUNT | aswaCurrency) || '&mdash;'"></span>
             </div>
         </div>
        <div class="col-lg-6">
          <h2 class="text-uppercase"><i class="fa fa-arrows-v"></i> {{'label.totalexpenses' | i18n}}</h2>
          <div class="expense-total text-right">
              <span class="customerview-total txt-success" data-ng-bind="(TOTALEXPAMOUNT) || '&mdash;'"></span>
           </div>
        </div>
        <div class="col-lg-6">
          <h2 class="text-uppercase"><i class="fa fa-arrows-v"></i> {{'label.difference' | i18n}}</h2>
          <div class="expense-total text-right">
              <span class="customerview-total txt-success " ng-class="getClass" data-ng-bind="(POTOTALDIFF) || '&mdash;'"></span>
           </div>
        </div>
        <div class="row"></div>
        <div class="loadRunner_modules" ng-show="spinnerShow">
          <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row section-container">
    <div class="col-xs-8">
      <div class="col-xs-12 section-box">
        <div class="section-box-header">
          <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.labourdetails' | i18n}} </h2>
         </div>
         <div class="col-xs-12 section-box-body m-b-m" style="min-height:140px">
            <div class="row">
              <div class="col-lg-7 expense-total text-right">
                  <span class="customerview-total txt-success" data-ng-bind="(MANDAYS) || '&mdash;'"></span>
               </div>
               <div class="col-lg-5 text-right actionbox">
                  <p> <a class="btn camelcase btn-primary" ng-href="#/labourmanager/{{CUSTOMERID}}/{{pathFlag}}" tooltip="{{'tooltip.add' | i18n}}"><i class="fa fa-plus"></i> <span data-ng-bind="'label.addlabourshift' | i18n"></span></a></p>
                  <p> <a class="btn camelcase btn-primary" ng-href="#/labourmanager/{{CUSTOMERID}}/{{pathFlag}}" tooltip="{{'tooltip.edit' | i18n}}"><i class="fa fa-edit"></i> <span data-ng-bind="'label.editlabourshift' | i18n"></span></a></p>
                  <p> <a class="btn camelcase btn-primary" ng-href=""  ng-click="viewLabourTMS()" tooltip="{{'tooltip.view' | i18n}}"><i class="fa fa-eye"></i> <span data-ng-bind="'label.viewlabourshift' | i18n"></span></a></p>
               </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
        <div class="col-xs-12 section-box">
          <div class="section-box-header">
            <h2 class="text-uppercase"><i class="fa fa-bookmark"></i> {{'customermanager.customernote' | i18n}} </h2>
           </div>
           <div class="col-xs-12 section-box-body m-b-m container" tooltip="{{'tooltip.viewcustomernote' | i18n}}"  style="min-height:140px">
              <div class="cview-img icon-link"></div>
              <div class="overlay" ng-click="viewNotes()">
                  <div class="text"><i class="fa fa-comments"></i></div>
              </div>
          </div>
        </div>
      </div>
  </div>


<div class="row"></div>
<div class="row section-container">
  <div class="col-xs-4" ng-include src = "'customermanager/view/customer-view-po.html'"></div>
  <div class="col-xs-4" ng-include src = "'customermanager/view/customer-view-qt.html'"></div>
  <div class="col-xs-4" ng-include src = "'customermanager/view/customer-view-est.html'"></div>
</div>
<div class="row"></div>

<div class="backto">
    <a ng-href="#/customer"><span>{{'label.backto.customermanager' | i18n}}</span></a>
</div>

<style>
  

  
  </style>