<button onclick="javascript:demoFromHTML();">PDF</button>


<div id="content">
  <h3>Sample h3 tag</h3>
  <p>Sample pararaph</p>
</div>
<div id="editor"></div>
<button id="cmd">Generate PDF</button>


<form name="frm">
<div id="confirmationmodal">
  <div class="col-xs-12 modal-container" id="printThis" >
        <div class="row">
          <div class="col-xs-12">
            <div classa="modal-body confirmationbox-body">
              <table class="table table-hover">
                <thead>
                  <th style="vertical-align:top">
                    <img src="../img/aghamlogo.png">
                    <address class="text-left">
                        Sholinganaloor,<br> 
                        Chennai,<br>
                        Tamilnadu<br>
                        India - 600100<br>
                        </address>
                  </th>
                  <th style="vertical-align:top;" class=" text-right">
                      <div class="col-sm-12 p-t-s text-uppercase pull-right">
                          <div class="">
                            <label class="label-width text-strong" data-ng-bind="'label.estimateid' | i18n"></label> : 
                            <label data-ng-bind="estimateManagerBO[0].ESTIMATEID"></label>
                          </div> 
                          <div class="">
                            <label class="label-width text-strong" data-ng-bind="'label.customerid' | i18n"></label> : 
                            <label data-ng-bind="estimateManagerBO[0].CUSTOMERID"></label>
                          </div> 
                          <div class="">
                            <label class="label-width text-strong" data-ng-bind="'label.customer' | i18n"></label> : 
                            <label data-ng-bind="estimateManagerBO[0].FULLNAME"></label>
                          </div> 
                          <div class="">
                            <label class="label-width text-strong" data-ng-bind="'label.createddate' | i18n"></label> : 
                            <label data-ng-bind="estimateManagerBO[0].CREATEDDATE | aswaDate"></label>
                          </div> 
                          <div class="">
                              <label class="label-width text-strong" data-ng-bind="'label.preparedby' | i18n"></label> : 
                              <label data-ng-bind="user.FULLNAME"></label>
                            </div>    
                        </div>
                  </th>
                </thead>
              </table>
              <div class="col-xs-12 section-box-body table-responsive">
                  <table class="table table-hover">
                      <colgroup>
                        <col class="auto-cell-size p-r-20">
                      </colgroup>
                      <thead class="table-bg text-uppercase">
                      <tr>
                        <th></th>
                        <th width=50% data-ng-bind-html="'label.description' | i18n"></th>
                        <th data-ng-bind-html="'label.quantity' | i18n"></th>
                        <th data-ng-bind-html="'label.units' | i18n"></th>
                        <th data-ng-bind-html="'label.percost' | i18n"></th>
                        <th data-ng-bind-html="'label.amount' | i18n"></th>
                      </tr>
                      </thead>
                      <tbody ng-repeat="(key, value) in estimateBasketBO | groupBy : 'LOCATION'">
                        <tr><td colspan="6" class="text-uppercase text-strong bg-table-info"><span data-ng-bind='referenceData.referencesDataMap.LOCATION[key]'</td></tr>
                          <tr ng-repeat ="rel in value | orderBy: 'LOCATION'">
                              <td class="f20 part1"></td>
                              <td><span data-ng-bind="rel.DESCRIPTION"></span><br><label class="text-strong" data-ng-bind="'label.location' | i18n"></label>: <span class="text-strong" data-ng-bind='referenceData.referencesDataMap.LOCATION[rel.LOCATION]'></span></td><td data-ng-bind="rel.QTY"></td>
                              <td data-ng-bind="rel.UNIT"></td>
                              <td data-ng-bind="rel.PERCOST"></td>
                              <td data-ng-bind="rel.AMOUNT | aswaCurrency"></td>
                            </tr>
                      </tbody>  
                      <tbody>
                        <tr class="highlight-bg1">
                          <td colspan="2" class="text-right"><label class="text-uppercase text-strong" data-ng-bind="'label.subtotal' | i18n"></label></td>
                          <td><span data-ng-bind="TOTALQTY" class="text-strong"></span></td><td></td>
                           <td></td> 
                          <td><span data-ng-bind="TOTALAMOUNT | aswaCurrency" class="text-strong"></span></td>
                        </tr>
                        <tr data-ng-if="estimateManagerBO == ''">
                          <td colspan="3"><b><span data-ng-bind="'label.nodatafound' | i18n"></span></td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="row pageheader">
                      <div class="col-xs-12">
                        <h5><span ng-bind ="'estimatebasket.pdfnote' | i18n"></span></h5>
                      </div>
                      <div class="col-xs-12">
                        <span class="bottomliner"></span>
                      </div>
                    </div> 
                    <div class="col-xs-12 m-t-m">
                      <ul class="note">
                        <li><span data-ng-bind="'estimatebasket.pdfnote.one' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.two' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.three' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.four' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.five' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.six' | i18n"></span></li>
                        <li><span data-ng-bind="'estimatebasket.pdfnote.seven' | i18n"></span></li>
                      </ul>
                      <p class="text-strong" data-ng-bind="'estimatebasket.pdffooter.one' | i18n">Please Revert for any Clarification. Looking forward to serving you at the</p>
                      <p data-ng-bind="'estimatebasket.pdffooter.two' | i18n">Please Revert for any Clarification. Looking forward to serving you at the</p>
                    </div>
                </div>
            </div>
              
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="modal-footer">
                <button class="btn camelcase btn-default" ng-click="cancel(frm)">Cancel</button>
                <button class="btn camelcase btn-primary" ng-click="save(dataBO)">Save</button>

                <button id="btnPrint" type="button" class="btn btn-default">Print</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
          <div class="audit-box" ng-if="isEdit">
             <span>Created by <strong>{{dataBO.CREATEDBY}} </strong>on <strong>{{dataBO.CREATEDDATE}}</strong>. Modified by <strong>{{dataBO.MODIFIEDBY}}</strong> on <strong>{{dataBO.MODIFIEDDATE}}</strong></span> 
          </div>
        </div>
        </div>
    </div>
</div>
</form>

<style>
  .modal-lg {
    width:90%;
  }


</style>


  <script>
function demoFromHTML() {
var doc = new jsPDF('p', 'in', 'letter');
var source = $('#testcase').first();
var specialElementHandlers = {
'#bypassme': function(element, renderer) {
return true;
}
};

doc.fromHTML(
source, // HTML string or DOM elem ref.
0.5, // x coord
0.5, // y coord
{
'width': 7.5, // max width of content on PDF
'elementHandlers': specialElementHandlers
});

doc.output('dataurl');
}
</script>

