<form name="frm">
<div id="confirmationmodal">
  <div class="col-xs-12 modal-container">
        <div class="modal-header modal-header-customized">
          <h2> {{ passingValues.title }}<i class="fa fa-close pull-right" ng-click="cancel(frm);"></i></h2>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="modal-body confirmationbox-body">
              <div class ="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label ng-bind="'label.towhome' | i18n"></label>
                      <select tabindex="1" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="dataBO.PAYTO" placeholder="{{'placeholder.selectone' | i18n}}">
                        <option></option>
                        <option data-ng-repeat="item in reference.USER" value="{{item.code}}">{{item.name}}</option>
                      </select>
                    </div>
                  </div>  
                  
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                    <label ng-bind="'label.amount' | i18n"></label>
                      <input tabindex="2" type="text" class="form-control" tabindex="1" data-ng-model="dataBO.AMOUNT" acube-currency maxlength="50">
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="form-group">
                        <label data-ng-bind="'label.date' | i18n"></label>
                        <div class="input-group">
                            <input tabindex="3" type="text" ng-bootstrap-fix class="form-control" readonly datetime-picker="dd-MMM-yyyy" ng-model="dataBO.DATE" is-open="open.date" enable-time="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-on-date-selection="true" datepicker-append-to-body="true">
                            <span class="input-group-btn">
                                <button type="button" class="date-input btn btn-default" ng-click="openCalendar($event, 'date')"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <label ng-bind="'label.customer' | i18n"></label>
                      <select tabindex="4" class="form-control" ui-select2="common.select2ClearWithoutSearch" ng-model="dataBO.CUSTOMERID" placeholder="{{'placeholder.selectone' | i18n}}">
                        <option></option>
                        <option data-ng-repeat="item in reference.CUSTOMER" value="{{item.code}}">{{item.name}}</option>
                      </select>
                    </div>
                  </div>  
              </div>
              <div class ="row">
                <div class="col-xs-12">
                  <label data-ng-bind-template="{{'label.comment' | i18n}} {{':'}}"></label>
                  <div class="form-group">
                    <textarea tabindex="5" name="comment" id="comment" class="form-control" placeholder="{{'placeholder.comment'| i18n }}" tabindex="1" data-ng-model="dataBO.COMMENT"></textarea>
                  </div>
                </div>
              </div>
            </div>
              
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="modal-footer">
                <button class="btn camelcase btn-default" ng-click="cancel(frm)">Cancel</button>
                <button class="btn camelcase btn-primary" ng-click="save(dataBO)">Save</button>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
          <div class="audit-box" ng-if="isEdit">
             <span>Created by <strong>{{dataBO.CREATEDBY}} </strong>on <strong>{{dataBO.CREATEDDATE}}</strong>. Modified by <strong>{{dataBO.MODIFIEDBY}}</strong> on <strong>{{dataBO.MODIFIEDDATE}}</strong></span> 
          </div>
        </div>
        </div>
    </div>
</div>
</form>
