
<div class="row pageheader">
  <div class="col-xs-11">
    <h1><span ng-bind ="'dashboard.pageheader' | i18n"></span></h1>
  </div>
  <div class="col-xs-1">
    <button type="button" class="btn btn-xs btn-primary pull-right" ng-click="refresh();" tooltip="{{'tooltip.refresh' | i18n}}">
      <span class="fa fa-refresh fa-spin"></span>
    </button>
  </div>
  <div class="col-xs-12">
    <span class="bottomliner"></span>
  </div>
</div>



<div permission="['JRD_ADMIN','JRD_MARKETING']">

    <div class="row section-container">
      <div class="col-lg-3 col-md-6">
        <div class="panel">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                  <i class="fa fa-tasks"></i>
              </div>
              <div class="col-xs-9 text-right">
                  <div>20</div>
              </div>
            </div>
          </div>
            <div class="panel-footer green-footer">
                <span class="pull-left text-uppercase">completed projects</span>
                <div class="clearfix"></div>
            </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-tasks"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div>0</div>
                </div>
              </div>
            </div>
              <div class="panel-footer red-footer">
                  <span class="pull-left text-uppercase">outstanding money</span>
                  <div class="clearfix"></div>
              </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3">
                      <i class="fa fa-money"></i>
                  </div>
                  <div class="col-xs-9 text-right">
                      <div>{{'50000000' | aswaCurrency}}</div>
                  </div>
                </div>
              </div>
                <div class="panel-footer blue-footer">
                    <span class="pull-left text-uppercase">Total Project cost</span>
                    <div class="clearfix"></div>
                </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div>5</div>
                    </div>
                  </div>
                </div>
                  <div class="panel-footer yellow-footer">
                      <span class="pull-left text-uppercase">Running Projects</span>
                      <div class="clearfix"></div>
                  </div>
              </div>
            </div>
    </div>

  <div class="row section-container">
    <div class="col-xs-12 col-md-4">
      <div class="col-xs-12 section-box">
        <div class="section-box-header">
          <h2 class="text-uppercase"><i class="fa fa-money"></i> {{'label.customerstatus' | i18n}} </h2>
        </div>
        <div class="col-xs-12 section-box-body text-right">
          <div id="container">Placeholder for chart</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 m-t-m hidden-lg hidden-md"></div>
    <div class="col-xs-12 col-md-8" permission="['JRD_ADMIN','JRD_MARKETING']">
      <div class="col-xs-12 section-box">
        <div class="section-box-header">
          <h2 class="text-uppercase"><i class="fa fa-database"></i> {{'label.latest10customers' | i18n}} <a ng-href="#/marketingbasket" ><i class="fa fa-ellipsis-h pull-right" tooltip="{{'tooltip.dashboard.marketingbasket' | i18n}}" tooltip-placement="left"></i></a></h2>
        </div>
        <div class="col-xs-12 section-box-body table-responsive">
          <table class="table table-hover">
            <colgroup>
              <col class="auto-cell-size p-r-20">
            </colgroup>
            <thead class="table-bg">
            <tr>
              <th></th>
              <th data-ng-bind-html="'label.fullname' | i18n"></th>
              <th data-ng-bind-html="'label.status' | i18n"></th>
              <th data-ng-bind-html="'label.createdby' | i18n"></th>
              <th data-ng-bind-html="'label.modifieddate' | i18n"></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="rel in customerManagerBO | limitTo:10" class="text-uppercase">
              <td class="f20 part1"></td>
              <td data-ng-bind-html="rel.CUSTOMERID + '&mdash;' + rel.FULLNAME"></td>
              <td data-ng-bind="refData.referencesDataMap.CUSTOMERSTATUS[rel.STATUS]" class="status-txt-{{rel.STATUS}}"></td>
              <td data-ng-bind="rel.CREATEDBY">Active</td>
              <td data-ng-bind="rel.MODIFIEDDATE | aswaDate">Active</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div permission="['JRD_ADMIN']" ng-include src = "'dashboard/containers/adm-payment-section.html'"></div>
</div>


<div permission="['JRD_SUPERVISOR']" ng-include src = "'dashboard/containers/se-section.html'">
</div>
<div permission="['JRD_MARKETING']" ng-include src = "'dashboard/containers/mktg-section.html'">
</div>

<div permission="['JRD_NOACCESS']">
  <div class="row section-container">
    <div class="col-xs-12">
      <div class="col-xs-12 section-box">
        <div class="col-xs-12 section-box-body text-center">
          <span class="dashboard-total" style="font-size:50px" data-ng-bind-html="'label.dashboard.noaccess' | i18n"></span>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="height:200px"></div>